.container{
    display: flex;
    margin: 20px 0;
    background: #eee;


}

.box{
    padding: 20px;
    background: blue;
    color: white;
}

.between{
    justify-content: space-between;

}

.around{
    justify-content: space-around;
}

.evenly{
    justify-content:space-evenly;
}