/*CSS = design + layout + colors + spacing*/

body{
    font-family: Arial, sans-serif;/*It tells the browser 
    which font to use for the text.Arial → first choice 
    (preferred font)sans-serif → backup font if Arial isn’t available*/
    background: #2989ea;
    margin:12px;
}

.card-section{
    display: flex;/*It turns an element into a flex container so its children 
    line up using the Flexbox layout system.*/
    justify-content:center;/*Items go to the middle*/
    margin-top:80px;/*adds space above an element.*/

}

.card{
    width:260px;
    background: white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 6px 18px rgba(0,0,0,0.5);/*0 shadow not moved left/right  
    6px   shadow goes down 6px   18px   bigger number = softer shadow  
    rgba(0,0,0,0.1) → color   0,0,0 = black   
    0.1 = very transparent (10% opacity)→ makes shadow light and modern  */
/*opacity-  how transparent or visible something is.*/
    text-align: center;


}

.btn{
    background:#4c6daf;
    color:rgb(217, 235, 50);
    border: none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;/*Mouse becomes a hand icon when hovering
→ Shows it’s clickable (like a button or link)*/

    font-size: 15px;
}

.btn:hover{/*Applies style when mouse is over the button*/
    background:#c12387;
}